<!-- About Section -->
<section id="about" class="section-content bg1">
<div class="container">
	<div class="row">
		<!-- Section Title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-user fa-2x"></span>
			</div>
            <h1><%= t :about %> <span><%= t :me %></span></h1>
		</div>
		<!-- End Section Title -->
	</div>
	<div class="row">
      <div class="col-md-4 text-center item_bottom">
        <%= image_tag "photo.jpg", class: "img-center img-responsive", alt: "My photo" %>
        <div class="name-title">
          <h2>Gilberto Tovar</h2>
          <h5>Ruby on Rails Developer</h5>
        </div>
      </div>
    <!-- some text about yourself -->
    <div class="col-md-4 item_top">
      <p class="quoteline" >
      <% t :quote_line %>
      </p>
      <p>
      <%= t :about_me_1 %>
      </p>
      <p>
      <%= t :about_me_2 %>
      </p>
      <p>
      <%= t :about_me_6 %>
      </p>

    </div>
    <!-- ./some text about yourself -->
		<div class="col-md-4">
      <!-- some information list -->
		  <ul class="fa-ul">
            <li><i class="fa fa-li fa-skype"></i><strong>Skype</strong> : nino_gilberto</li>
            <li><i class="fa fa-li fa-envelope-o"></i><strong>Email</strong> : tovarninogilberto@gmail.com</li>
            <li><i class="fa fa-li fa-globe"></i><strong><%= t :website %></strong> : www.gilbertotovar.com</li>
			</ul>
			<!-- ./some information list -->
      <!-- some number facts -->
			<div class="number-counters text-center new-line">
				<div class="counters-item">
					<i class="fa fa-coffee fa-2x"></i>
					<strong data-to="2150">0</strong>
					<!-- Set Your Number here. i,e. data-to="56" -->
					<p>
                    <%= t :coffe %>
					</p>
				</div>
				<div class="counters-item">
					<i class="fa fa-flag fa-2x"></i>
					<strong data-to="3">0</strong>
					<!-- Set Your Number here. i,e. data-to="56" -->
					<p>
                    <%= t :year_experience %>
					</p>
				</div>
                <div class="counters-item">
                  <i class="fa fa-graduation-cap fa-4x"></i>
					<p>
                    <%= t :profession_lti %>
					</p>
				</div>
				<div class="counters-item">
					<i class="fa fa-thumbs-up fa-2x"></i>
					<strong data-to="10">0</strong>
					<!-- Set Your Number here. i,e. data-to="56" -->
					<p>
                    <%= t :projects_contributed %>
					</p>
				</div>
			</div>
      <!-- ./some number facts -->
    </div>
    <div class="col-md-8">
      <p>
      <%= t :about_me_4 %>
      </p>
      <p>
      <%= t :about_me_5 %>
      </p>
      <p>
      <h3>Open Source</h3>
      <%= t :about_me_3 %>
      </p>
      <p>
      <h3>Microsoft</h3>
      <%= t :about_me_7 %> Conoce mas sobre mis <%= link_to t('clients'), '#clients' %> y sus usos en en la descripción de cada proyecto en mi <%= link_to "Portafilio", '#portfolio' %>.
      </p>
      <p class="text-right">
      <%= image_tag "signature.png", alt: "signature" %>
      </p>
    </div>


	</div>
	<div class="row services">
		<div class="col-md-3">
			<!-- Service -->
			<div class="services-box new-line item_left">
              <h4><%= t :programmer %></h4>
				<div class="services-box-icon">
					<i class="fa fa-smile-o fa-3x"></i>
				</div>
				<div class="service-box-info">
                  <p>
                  Para el desarrollo de software, cuento con Ruby on Rails, siguiendo una <%= link_to "Metodología Agil", "http://www.amazon.es/The-Agile-Samurai-Pragmatic-Programmers/dp/1934356581" %>. Mi ambiente de desarrollo es en Ubuntu, <%= link_to "Tmuxinator", "http://vimeo.com/76108975" %> y mi editor favorito es <%= link_to "VIM", "http://www.vim.org/about.php" %>. Brindar soporte a las aplicaciones forma parte del ser programador y comprendo la importancia del apoyo continuo después de la entrega del producto final.</p>
				</div>
			</div>
			<!-- End Service -->
		</div>
		<div class="col-md-3">
			<!-- Service -->
			<div class="services-box new-line item_bottom">
              <h4><%= t :testing %></h4>
				<div class="services-box-icon">
					<i class="fa fa-check fa-3x"></i>
				</div>
				<div class="service-box-info">
					<p>
                    Aprender a realizar pruebas ofrece calidad al software y esto se traduce en reducir el margen de error y muchos otros beneficios. Es bueno saber que tus cambios no rompen nada, muchas veces no son pagadas o requeridas pero trato de realizar al menos algunas que yo considere importantes, utilizando Red, Green, Refactor, TDD, algunas Unitarias y de Modelo. Herramientas utilizadas <%= link_to "Errbit", "https://github.com/errbit/errbit" %> y <%= link_to "CircleCI", "https://circleci.com/" %>.
					</p>
				</div>
			</div>
			<!-- End Service -->
		</div>
		<div class="col-md-3">
			<!-- Service -->
			<div class="services-box new-line item_bottom">
              <h4><%= t :deploy %></h4>
				<div class="services-box-icon">
					<i class="fa fa-cloud-upload fa-3x"></i>
				</div>
				<div class="service-box-info">
                  <p>
                  Desplegar en produccion, es una tarea que siempre tube la inquietud de realizar para poder por fin enfrentar todo un ciclo de implementacion. Los servidores sus servicios y configuraciones los descubri en <%= link_to "Digital Ocean", "https://www.digitalocean.com/" %>, Ngnix, Capistrano, Unicorn, RaislCast y demas tutoriales. Siempre con la mentalidad de que todos tienen cosas que hacer y de que tienes que ser autodidacta.
					</p>
				</div>
			</div>
			<!-- End Service -->
		</div>
		<div class="col-md-3 clearfix">
			<!-- Service -->
			<div class="services-box new-line item_right">
              <h4><%= t :web_design %></h4>
				<div class="services-box-icon">
					<i class="fa fa-html5 fa-3x"></i>
				</div>
				<div class="service-box-info">
                  <p>
                  Tambien como todo ay que tocar el Fron-End con leguajes de programación que permitan ser atractivo, interactivo y mejor desempeño en el sitio, lenguajes como NodeJS, Ember, Angular, Knockout y Backbones son lenguajes que me gustaria utilizar y que hasta hoy solo e leido en mis <%= link_to "Libros", root_path %>. Me gustan mucho los temas de SEO, Marketing, Gamificación, UX/UI , Desiño Web como responsivo.
					</p>
				</div>
			</div>
			<!-- End Service -->
		</div>
	</div>                      
</div>
</section>
<!-- End About Section -->
