<!-- Clients Section -->
<section id="clients" class="clients parallax" style="background-image: url(assets/clients.png)">
<div class="parallax-overlay">
  <div class="container">
    <div class="row">
      <!-- Section title -->
      <div class="section-title item_bottom text-center">
        <div>
          <span class="fa fa-users fa-2x"></span>
        </div>
        <h1 class="white"><span><%= t :tools %></span></h1>
      </div>
      <!-- End Section title -->
    </div>

    <div class="row item_bottom">

      <h4 class="white"><strong><%= t :favorites_tools %></strong></h4>

      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

        <div class="swiper-testimonial">

          <div class="swiper-wrapper">

            <!-- HEROKU -->
            <div class="swiper-slide"> 
              <p class="author">HEROKU</p>
              <p class="quote">
              <%= raw t :heroku_quote %>
              </p>
              <p class="company"><%= raw t :heroku_company %> </p>
            </div>

            <!-- Amazon  -->
            <div class="swiper-slide">
              <p class="author">
                Amazon
              </p>
              <p class="quote">
              <%= t :amazon_quote %>
              </p>
              <p class="company">
              <%= t :amazon_company %>
              </p>
            </div>

            <!-- Github -->
            <div class="swiper-slide"> 
              <p class="author">GIT</p>
              <p class="quote">
              <%= t :git_quote %>
              </p>
              <p class="company">"<%= raw t :git_company %>"</p>	  	
            </div>

            <!-- Digital Ocean -->
            <div class="swiper-slide"> 
              <p class="author">Digital Ocean</p>
              <p class="quote">
              <%= t :digital_ocean_quote %>
              </p>
              <p class="company">"<%= raw t :digital_ocean_company %>"</p>	  	
            </div>

          </div><!--/ .swiper-wrapper -->
          <div class="pagination-testimonial"></div> <!--/ swiper slider pagination -->
        </div><!--/ .swiper-testimonial -->
      </div>

    </div> <!--/ .row -->

    <div class="row new-line item_fade_in">
      <h4 class="white"><strong><%= t :some_tools %></strong></h4>
      <div class="carrousel-container">
        <div id="left_scroll"><a href=""></a></div>
        <div id="carousel_inner">
          <ul class="clearfix" id="carousel_ul">
            <li><span><%= link_to image_tag("clients/newrelic.png",alt: "NewRelic"), "http://newrelic.com/"  %></span></li>
            <li><span><%= link_to image_tag("clients/framework.png",alt: "Jquery"), "http://tmux.sourceforge.net/" %></span></li>
            <li><span><%= link_to image_tag("clients/visual.png",alt: "Jquery"), "http://tmux.sourceforge.net/" %></span></li>
            <li><span><%= link_to image_tag("clients/asp.png",alt: "NewRelic"), "http://newrelic.com/"  %></span></li>
            <li><span><%= link_to image_tag("clients/tmux.png",alt: "Jquery"), "http://tmux.sourceforge.net/" %></span></li>
            <li><span><%= link_to image_tag("clients/vim.png",alt: "Vim"), "http://www.vim.org/about.php" %></span></li>
            <li><span><%= link_to image_tag("clients/jquery.png",alt: "Jquery"),"http://jquery.com/"  %></span></li>
            <li><span><%= link_to image_tag("clients/sendgrid.png",alt: "Sendgrid"), "http://sendgrid.com/"  %></span></li>
            <li><span><%= link_to image_tag("clients/microsoft.png",alt: "Vagrant"), "https://www.vagrantup.com/about.html" %></span></li>
            <li><span><%= link_to image_tag("clients/vagrant.png",alt: "Vagrant"), "https://www.vagrantup.com/about.html" %></span></li>
            <li><span><%= link_to image_tag("clients/heroku.png",alt: "Heroku"), "http://www.heroku.com"   %></span></li>
            <li><span><%= link_to image_tag("clients/postgresql.png",alt: "Postgresql"), "http://www.postgresql.org/about/"   %></span></li>
            <li><span><%= link_to image_tag("clients/digitalocean.png",alt: "Digital Ocean"), "https://www.digitalocean.com/company/about/"   %></span></li>
            <li><span><%= link_to image_tag("clients/amazonS3.png",alt: "Simple Stroge Save"), "http://aws.amazon.com/s3/" %></span></li>
            <li><span><%= link_to image_tag("clients/spreecommerce.png",alt: "Spree"), "http://spreecommerce.com/"   %></span></li>
            <li><span><%= link_to image_tag("clients/gitlogo.png",alt: "Git"), "http://git-scm.com/about"   %></span></li>
            <li><span><%= link_to image_tag("clients/bootstrap.png",alt: "bootstrap"), "http://getbootstrap.com/"   %></span></li>
            <li><span><%= link_to image_tag("clients/cacoo.png",alt: "Cacoo"), "https://cacoo.com/"   %></span></li>
            <li><span><%= link_to image_tag("clients/coffeescript.png",alt: "Spree"), "http://spreecommerce.com/"   %></span></li>
            <li><span><%= image_tag "clients/mailchimp.png", alt: "mailchimp" %></span></li>
          </ul>
        </div>
        <div id="right_scroll"><a href=""></a></div>
        <input type="hidden" id="hidden_auto_slide_seconds" value=0 />
      </div>
    </div>
  </div>
</div>
</section>
<!-- End Clients Section -->
