<!-- Clients Section -->
<section id="clients" class="clients parallax" style="background-image: url(assets/clients.png)">
<div class="parallax-overlay">
  <div class="container">
    <div class="row">
      <!-- Section title -->
      <div class="section-title item_bottom text-center">
        <div>
          <span class="fa fa-users fa-2x"></span>
        </div>
        <h1 class="white">My <span>Clients</span></h1>
      </div>
      <!-- End Section title -->
    </div>

    <div class="row item_bottom">

      <h4 class="white">What my <strong>clients saying</strong></h4>

      <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">

        <div class="swiper-testimonial">

          <div class="swiper-wrapper">

            <!--First Slide-->
            <div class="swiper-slide"> 
              <p class="quote">"It’s easy to see the passion that the guys have for their work. He really care about making unique designs for their clients, and put in incredible effort to make the whole process a real pleasure."</p>
              <p class="author">Jak Doe</p>
              <p class="company">CEO <a href="#">@Intel</a></p>
            </div>

            <!--Second Slide-->
            <div class="swiper-slide">
              <p class="quote">"My website couldn’t look better after working with the him on the redesign. Now my site and corporate	branding is outstanding! He is awesome."</p>
              <p class="author">John Doe</p>
              <p class="company">Manager <a href="#">@Web Planet</a></p>
            </div>

            <!--Third Slide-->
            <div class="swiper-slide"> 
              <p class="quote">"I am incredibly happy with the increased traffic my site has received since working with you! He is the best at this job."</p>
              <p class="author">Jane Doe</p>
              <p class="company">Owner <a href="#">@Creative Agency</a></p>	  	
            </div>
          </div><!--/ .swiper-wrapper -->
          <div class="pagination-testimonial"></div> <!--/ swiper slider pagination -->
        </div><!--/ .swiper-testimonial -->
      </div>

    </div> <!--/ .row -->

    <div class="row new-line item_fade_in">
      <h4 class="white">Some of <strong>my clients</strong></h4>
      <div class="carrousel-container">
        <div id="left_scroll"><a href=""></a></div>
        <div id="carousel_inner">
          <ul class="clearfix" id="carousel_ul">
            <li><span><%= image_tag "clients/twitter.png",alt: "Twitter" %></span></li>
            <li><span><%= image_tag "clients/magento.png",alt: "magento" %></span></li>
            <li><span><%= image_tag "clients/mailchimp.png", alt: "mailchimp" %></span></li>
            <li><span><%= image_tag "clients/nexternal.png", alt: "nexternal" %></span></li>
            <li><span><%= image_tag "clients/wordpress.png", alt: "wordpress" %></span></li>
            <li><span><%= image_tag "clients/google.png", alt: "google" %></span></li>
          </ul>
        </div>
        <div id="right_scroll"><a href=""></a></div>
        <input type="hidden" id="hidden_auto_slide_seconds" value=0 />
      </div>
    </div>
  </div>
</div>
</section>
<!-- End Clients Section -->
