<!-- Contact Section -->
<section id="contact" class="section-content bg2">
<div class="container">
  <div class="row">
    <!-- Section title -->
    <div class="section-title item_bottom text-center">
      <div>
        <span class="fa fa-envelope fa-2x"></span>
      </div>
      <h1><span><%= t :contact %></span></h1>
    </div>
    <!-- End Section title -->
  </div>
  <div class="row item_fade_in">
    <div class="col-md-6 col-md-offset-3 text-center contact-block">
      <!-- Contact Details -->
      <i class="fa fa-map-marker fa-3x"></i>
      <!-- End Contact Details -->
      <!-- Social Icon -->
      <div class="social-icon">
        <a href="https://www.facebook.com/ninogilberto"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/retwittgil"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="https://github.com/gtovar"><i class="fa fa-github-square fa-3x"></i></a>
      </div>
      <!-- End Social Icon -->
    </div>
  </div>
  <div class="row item_fade_in">
    <h4 class="text-center"><%= t :email_description %></h4>
    <div class="col-md-6 col-md-offset-3">
      <div class="form-respond text-center">
      </div>
      <%= form_tag(root_path, :method => "get", :multipart => false, class: "form validate item_bottom", style: "opacity: 1; bottom: 0px;" ) do %>
        <div class="form-group">
          <%= text_field_tag "name", nil, :id=>"name", class: "form-control", :placeholder => "Tu nombre" %>
        </div>
        <div class="form-group">
          <%= text_field_tag "email", nil, :id=>"email", class: "form-control required email", :placeholder => "Tu correo" %>
          <p><%= t :email_spam %></p>
        </div>
        <div class="form-group">
          <%= text_area_tag "message", nil, :id => "message", class: "form-control input-lg required", :placeholder => "Tus dudas o comentarios, etc.", :rows => "9" %>
        </div>
        <div class="form-group text-center">
          <%= submit_tag "Enviar", id: "contactForm_submit", class: "btn btn-trans btn-border btn-full" %>
        </div>
      <% end %>
    </div>
  </div>
  <!-- End form contact -->
</div>
</section>
<!-- End Contact Section -->
<!-- Google maps -->
<div id="map_canvas" class="item_fade_in">
</div>
