<!-- Contact Section -->
<section id="contact" class="section-content bg2">
<div class="container">
  <div class="row">
    <!-- Section title -->
    <div class="section-title item_bottom text-center">
      <div>
        <span class="fa fa-envelope fa-2x"></span>
      </div>
      <h1><span><%= t :contact %></span></h1>
    </div>
    <!-- End Section title -->
  </div>
  <div class="row item_fade_in">
    <div class="col-md-6 col-md-offset-3 text-center contact-block">
      <!-- Contact Details -->
      <i class="fa fa-map-marker fa-3x"></i>
      <!-- End Contact Details -->
      <!-- Social Icon -->
      <div class="social-icon">
        <a href="https://www.facebook.com/ninogilberto"><i class="fa fa-facebook-square fa-3x"></i></a>
        <a href="https://twitter.com/retwittgil"><i class="fa fa-twitter-square fa-3x"></i></a>
        <a href="https://github.com/gtovar"><i class="fa fa-github-square fa-3x"></i></a>
      </div>
      <!-- End Social Icon -->
    </div>
  </div>
  <div class="row item_fade_in" id="contact_form">
    <h4 class="text-center"><%= t :email_description %></h4>
    <div class="col-md-6 col-md-offset-3">
      <div class="form-respond text-center">
      </div>
      <%= form_tag(send_email_path, method: "post", name: "contactform", id: "contactform", class: "form validate item_bottom", role: "form", remote: true) do %>
      <div class="form-group">
          <%= text_field_tag 'name',nil, class: "form-control required", placeholder: "Name" %>
      </div>
      <div class="form-group">
          <%= text_field_tag 'email',nil, type: 'email', class: "form-control required email", placeholder: "Email" %>
      </div>
          <div class="form-group">
              <%= text_area_tag 'message',nil, class: "form-control input-lg required", rows: "9", placeholder: "Enter Message" %>
          </div>
          <div class="form-group">
              <%= recaptcha_tags %>
          </div>
          <div class="form-group text-center">

              <%= button_tag(:type=>'submit',  :id=>"contactForm_submit", :class=>"btn btn-trans btn-border btn-full") do %>
                  Submit
              <% end %>
          </div>
          <% end %>
    </div>
  </div>
  <!-- End form contact -->
</div>
</section>
<%= content_for :javascript_code do %>
    <script>
        $(document).on('submit', '#contactform', function(e) {
             e.preventDefault(); 
            // Contact Form Request
            $(".validate").validate();
            var form = $('#contactform');
            var submit = $('#contactForm_submit');
            var alertx = $('.form-respond');
            // form submit event
            // sending ajax request through jQuery
            form.bind('ajax:beforeSend', function(event, xhr, settings) {
                xhr.setRequestHeader("Accept", "text/html");
                alertx.fadeOut();
                submit.html('Sending....'); // change submit button text
            })
            .bind('ajax:success', function(event, data, status, xhr) {
                console.log("Exito");
                console.log(data);
                console.log(xhr.setRequestHeader('X-Awesome', 'enabled'));
                form.fadeOut(300);
                alertx.html(data).fadeIn(1000); // fade in response data     
                setTimeout(function() {
                    alertx.html(data).fadeOut(300);
                    submit.html('Submit'); // change submit button text
                    if (window.grecaptcha) grecaptcha.reset();
                    $('#name, #email, #message').val('')
                        form.fadeIn(1800);
                }, 4000);
            })
            .bind('ajax:error', function(event, xhr, status, error){
                console.log('Error');
                console.log(error);
                console.log(status);
                console.log(xhr.setRequestHeader('X-Awesome', 'enabled'));
            });
        });
    </script>
<% end %>
<!-- End Contact Section -->
<!-- Google maps -->
