<!-- Process Section -->
<section id="process" class="section-content bg3">
<div class="container">
<div class="row">
	<!-- Section title -->
	<div class="section-title item_bottom text-center">
		<div>
			<span class="fa fa-cogs fa-2x"></span>
		</div>
        <h1 class="white"><span><%= t :agil_process %></span></h1>
	</div>
	<!-- End Section title -->
 
 <ol class="process-flow list-unstyled">
						<li class="active">
							<div class="process-node active">
								<i class="fa fa-comments"></i>
							</div>
                            <h4><%= t :briefing %></h4>
                            <p><%= t :briefing_description %></p>
							<div class="line">
							  <div class="progress"></div>
							</div>
						</li>
						<li class="active">
							<div class="process-node active">
								<i class="fa fa-lightbulb-o"></i>
							</div>
                            <h4><%= t :mockups %></h4>
                            <p><%= t :mockups_description %></p>
							<div class="line">
								<div class="progress"></div>
							</div>
						</li>
						<li class="active">
							<div class="process-node active">
								<i class="fa fa-thumbs-o-up"></i>
							</div>
                            <h4><%= t :discussion %></h4>
                            <p><%= t :discussion_description %></p>
							<div class="line">
								<div class="progress"></div>
							</div>
						</li>
						<li class="active">
							<div class="process-node active">
								<i class="fa fa-flash"></i>
							</div>
                            <h4><i class="fa fa-refresh"></i>&nbsp<%= t :development %></h4>
                            <p><%= t :development_description %></p>
							<div class="line">
								<div class="progress"></div>
							</div>
						</li>
						<li class="active">
							<div class="process-node active">
								<i class="fa fa-check-square-o"></i>
							</div>
                            <h4><i class="fa fa-refresh"></i>&nbsp<%= t :testing %></h4>
                            <p><%= t :testing_description %></p>
							<div class="line">
                              	<div class="progress"></div>
							</div>
						</li>
						<li class="active">
							<div class="process-node active">
								<i class="fa fa-rocket"></i>
							</div>
                            <h4><%= t :delivery %></h4>
                            <p><%= t :delivery_description %></p>
						</li>
					</ol>
 </div>
          </div>
        </section>
<!-- End Process Section -->                        
