<!-- Resume Section -->
<section id="experience" class="section-content bg2">
<div class="container">
	<div class="row">
		<!-- Section title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-book fa-2x"></span>
			</div>
            <h1><span><%= t :resume %></span></h1>
		</div>
		<!-- End Section title -->
	</div>
	<div class="row">
		<ul class="timeline list-unstyled">
			<!-- History Year -->
      <li class="title"><%= t :present %></li>

      <% @experiences.each do |experience| %>
        <li class="note item_right">
        <h4><%= experience.name %></h4>
        <h5><%= t :developer %></h5>
        <p class="desc">
        <%= experience.description %><br>
        <h5><%= t :proyects unless experience.proyects.empty? %></h5>
        <% experience.proyects.each do |proyect| %>
          <%= link_to [experience,proyect] do %>
            <span class="badge"><%= proyect.name %></span>
          <% end %>
        <% end %>
        </p>
        <span class="date">
          <%= l experience.start_date, format: :long %> - <%= l experience.end_date, format: :long %><br>
          <%= distance_of_time_in_words(experience.start_date, experience.end_date) %> 
        </span>
        <span class="arrow fa fa-play"></span>
        </li>
      <% end %>


			<!-- Education -->
      <li class="title"><%= t :education %></li>

			<li class="note item_left">
      <h4>Universidad Autónoma de Nuevo León </h4>
      <h5><%= t :uanl_title %> </h5>
      <p class="desc">
      <%= t :uanl_description %>
			</p>
			<span class="date">
			2007 - 2012 </span>
			<span class="arrow fa fa-play"></span>
      </li>

			<li class="note item_right">
      <h4>Universidad Tecnológica de México</h4>
      <h5><%= t :unitec_title  %></h5>
      <p class="desc">
      <%= t :unitec_description %>
			</p>
			<span class="date">
			2004 - 2005 </span>
			<span class="arrow fa fa-play"></span>
      </li>

			<!-- cursos -->
      <li class="title"><%= t :certified %></li>

			<li class="note item_left">
      <h4>Ecco computación </h4>
      <h5><%= t :ecco_title %></h5>
      <p class="desc">
      <%= t :ecco_description %>
			</p>
			<span class="date">
			2002 - 2004 </span>
			<span class="arrow fa fa-play"></span>
      </li>

			<li class="note item_right">
      <h4>Quick Learning</h4>
      <h5><%= t :quick_learning_title  %></h5>
      <p class="desc">
      <%= t :quick_learning_description %>
			</p>
			<span class="date">
			2003 - 2004 </span>
			<span class="arrow fa fa-play"></span>
      </li>
			<!-- Start icon -->
			<li class="start fa fa-bookmark"></li>
			<li class="clear"></li>
		</ul>
	</div>
</div>
</section>
<!-- End Experience Timeline Section -->
