<!-- Skill Section -->
<section id="skill" class="section-content bg2">
<div class="container">
	<div class="row">
		<!-- Section Title -->
		<div class="section-title item_bottom text-center">
			<div>
				<span class="fa fa-bar-chart-o fa-2x"></span>
			</div>
            <h1><span><%= t :skills %></span></h1>
		</div>
		<!-- End Section Title -->
	</div>
	<div class="row text-center item_bottom">
		<div class="col-md-4">
              <h4><%= t :team_work %></h4>
              <p>
              <%= raw t :team_work_definition %>
			</p>
		</div>
		<div class="col-md-4 ">
              <h4><%= t :self_taught %> </h4>
              <p>
              <%= raw t :self_taught_definition %>
              </p>
		</div>
		<div class="col-md-4">
              <h4><%= t :methodic  %></h4>
              <p>
              <%= raw t :methodic_definition %>
			</p>
		</div>
		<div class="col-md-4">
              <h4><%= t :helpful %></h4>
              <p>
              <%= raw t :helpful_definition %>
			</p>
		</div>
		<div class="col-md-4" id="transition_id">
              <h4><%= t :transition  %></h4>
              <p>
              <%= raw t :transition_definition %>
			</p>
		</div>
		<div class="col-md-4">
              <h4><%= t :produce_results %></h4>
              <p>
              <%= raw t :produce_results_definition %>
			</p>
		</div>
	</div>
	<div class="row new-line item_bottom">
		<div class="col-md-6">
			<ul class="skillBar">
				<li>
				<div class="skillBg">
					<span data-width="80"><strong>Creative 80%</strong></span>
				</div>
				</li>
				<li>
				<div class="skillBg">
					<span data-width="70"><strong>Leadership 70%</strong></span>
				</div>
				</li>
				<li>
				<div class="skillBg">
					<span data-width="90"><strong>Interpersonal Communication 90%</strong></span>
				</div>
				</li>
			</ul>
		</div>
		<div class="col-md-6">
			<ul class="skillBar">
				<li>
				<div class="skillBg">
					<span data-width="80"><strong>English 80%</strong></span>
				</div>
				</li>
				<li>
				<div class="skillBg">
					<span data-width="99"><strong>French 99%</strong></span>
				</div>
				</li>
				<li>
				<div class="skillBg">
					<span data-width="60"><strong>Spanish 60%</strong></span>
				</div>
				</li>
			</ul>
		</div>
	</div>
	<!-- skills end -->
</div>
</section>
<!-- End Skill Section -->
