<div class="navbar navbar-transparent navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
          </button>
          <%= link_to image_tag("curriculum_logo.png",:class=>"logo",:alt => "Lic. Gilberto Tovar"),root_path, :class => "navbar-brand"%>
		</div>
		<nav id="my-nav" class="navbar-collapse collapse" role="navigation">
		<ul class="nav navbar-nav">
			<li>
            <a href="#home"><%= t :home %></a>
			</li>
			<li>
            <a href="#about"><%= t :about_bar %></a>
			</li>
			<li>
            <a href="#portfolio"><%= t :works %></a>
			</li>
			<li>
            <a href="#skill"><%= t :skills %></a>
			</li>
			<li>
            <a href="#experience"><%= t :resume %></a>
			</li>
			<li>
            <a href="#clients"><%= t :clients %></a>
			</li>
            <li>
            <a href="#process"><%= t :process %></a>
            </li>
            <li>
            <a href="#contact"><%= t :contact %></a>
            </li>
            <li>
            <% if I18n.locale == I18n.default_locale %>
              <%= link_to "English", locale: :en %>
            <% else %>
              <%= link_to "Español", locale: :es %>
            <% end %>
            </li>
		</ul>
		</nav>
		<!--/.navbar-collapse -->
	</div>
</div>
