<%= title(t :listing_experiences) %>
<h1><%= t '.experience' %>
  <%= link_to t(:new_experience), new_experience_path, class: "btn btn-info", role:"button" %>
</h1>

<div class="table-responsive">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Experience.human_attribute_name("name") %></th>
      <th><%= Experience.human_attribute_name("description") %></th>
      <th><%= Experience.human_attribute_name("start_date") %></th>
      <th><%= Experience.human_attribute_name("end_date") %></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @experiences.each do |experience| %>
      <tr>
        <td><%= experience.name %></td>
        <td><%= experience.description %></td>
        <td><%= experience.start_date %></td>
        <td><%= experience.end_date %></td>
        <td><%= link_to 'Add Proyect', new_experience_proyect_path(experience) %></td>
        <td><%= link_to 'Show Proyects', experience_proyects_path(experience) %></td>
        <td><%= link_to 'Show', experience %></td>
        <td><%= link_to 'Edit', edit_experience_path(experience) %></td>
        <td><%= link_to 'Destroy', experience, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to t(:new_experience), new_experience_path, class: "btn btn-info", role:"button" %>
