<div class="row">
    <%= form_for [@experience,@proyect], :html => { class: "edit_post", id: "edit_post_45" } do |f| %>
      <% if @proyect.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@proyect.errors.count, "error") %> prohibited this proyect from being saved:</h2>

          <ul>
            <% @proyect.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
  <div class="col-xs-4">
      <div class="form-group">
        <%= f.label :name %><br>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :category %>
        <%= f.text_field :category, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :position %>
        <%= f.text_field :position, class: "form-control", placeholder: "Developer, Diseñador, Project Managanment" %>
      </div>
      <div class="form-group">
        <%= f.label :cover %><br>
        <%= f.file_field :cover, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :link %><br>
        <%= f.text_field :link, class: "form-control"%>
      </div>
      <div class="form-group">
        <%= f.label :logo %><br>
        <%= f.file_field :logo, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :start_time %><br>
        <%= f.date_select :start_time %>
      </div>
      <div class="form-group">
        <%= f.label :end_time %><br>
        <%= f.date_select :end_time %>
      </div>
  </div>
  <div class="col-xs-8">
      <div class="form-group">
        <%= f.label :description %>
        <%= f.text_area :description, class: "form-control", cols: 20, rows: 10 %>
      </div>
    <div class="form-group">
      <%= f.label :activity_description %><br/>
        <code>&lt;no lleva html y describe cada una de las actividades que estan en html list&gt;</code> 
        <%= f.text_area :activity_description, class: "form-control", cols: 20, rows: 10 %>
      </div>
      <div class="form-group">
        <%= f.label :activities %><br/>
        <code>&lt;lista de actividades en HTML ul li -  ver github&gt;</code>
        <%= f.text_area :activities, class: "form-control", cols: 20, rows: 10 %>
      </div>
      <div class="form-group">
        <%= f.label t :outstanding %>
        <%= f.text_area :outstaning, class: "form-control", cols: 20, rows: 10 %>
      </div>
      <div class="form-group">
        <%= f.label :tools %><br>
        <code> HTML ul li - ver README github </code>
        <%= f.text_area :tools, class: "form-control", cols: 20, rows: 10 %>
      </div>
      <div class="actions">
        <%= f.submit class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
</div>
