<div class="page-header">
  <h1>Listing proyects
  <%= link_to 'New Proyect', new_proyect_path, class: "btn btn-info", role:"button" %>
</h1>
</div>

  <div class="row">
<% @proyects.each do |proyect| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag(proyect.cover_url(:thumb), :alt => "image") if proyect.cover_url.present?  %>
        <div class="caption">
          <h3><%= proyect.name %></h3>
          <p><%= truncate(proyect.description, length: 250) %></p>
          <p><%= link_to 'Show', proyect, class: "btn btn-success", role: "button" %>
          <%= link_to 'Edit', edit_proyect_path(proyect), class: "btn btn-primary", role:"button" %>
          <%= link_to 'Destroy', proyect, class: "btn btn-danger", role: "button", method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      </div>
    </div>
<% end %>
  </div>
<%= link_to 'New Proyect', new_proyect_path, class: "btn btn-info", role:"button" %>
