<%= render "navbar" %>
<section id="proyect" class="slide-content" style="padding-top:100px; color: wheat; position: static; text-align: left;" >
<p id="notice"><%= notice %></p>
<div class="single-portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-8" id="primary">
        <div class="slider_container">
          <ul class="slides">
            <li>
            <a class="w_hover" href="<%= @proyect.link %>">
              <%= image_tag(@proyect.cover_url(:thumb) , class: "img-responsive", alt: "@proyect.name") if @proyect.cover?%>
              <span class="overlay"></span>
            </a>
            </li>
            <li>
            <a class="w_hover" href="<%= @proyect.link %> ">
              <%= image_tag @proyect.logo_url(:thumb), class: "img-responsive", alt: @proyect.name  %>
              <span class="overlay"></span>
            </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4" id="secondary">
        <!-- Project Summary -->
        <div class="project-desc">
          <h3><%= @proyect.name%></h3>
          <div class="line-strong"></div>
          <ul class="list-details">
            <li><i class="fa fa-calendar"></i><strong><%= t :created_at %>:&nbsp; </strong>
            <%= "#{l @proyect.start_time, format: :long} / #{distance_of_time_in_words(@proyect.start_time,@proyect.end_time)}" %>
            </li>
            <li><i class="fa fa-tag"></i><strong><%= t :position %>:&nbsp;</strong><%= @proyect.position %></li>
          <li><i class="fa fa-globe"></i><%= link_to t('live_demo'), @proyect.link %></li>
        </ul>
        <p>
        <%= @proyect.description %>
        </p>
      </div>   
      <!-- End Project Summary -->
    </div>
  </div>
  <!-- End .row -->
</div>
<!-- End .container -->
</div>

</section>

<section id="activities"   style="padding-top:10px; color: wheat;" class="section-content bg3" >
<div class="container">
  <div class="row">
    <!-- Section Title -->
    <div class="section-title item_bottom text-center">
      <h3><%= t :task %></h3>
    </div>
    <!-- End Section Title -->
  </div>
  <div class="row">
    <!-- ./some text about yourself -->
    <div class="col-md-4">
      <!-- some information list -->
      <ul class="fa-ul">
        <li>
        <%= @proyect.activities %></li>
        <li><i class="fa fa-li fa-skype"></i><strong>Skype</strong> : nino_gilberto</li>
        <li><i class="fa fa-li fa-envelope-o"></i><strong>Email</strong> : tovarninogilberto@gmail.com</li>
        <li><i class="fa fa-li fa-globe"></i><strong><%= t :website %></strong> : www.gilbertotovar.com</li>
      </ul>
      <!-- ./some information list -->
    </div>
    <div class="col-md-8">
      <p>
      <%= t :about_me_4 %>
      </p>
      <p>
      <%= t :about_me_5 %>
      </p>
    </div>
  </div>
</div>
</section>

<section id="outstanding"   style="padding-top:10px; color: black;" class="section-content bg2" >
<div class="container">
  <div class="row">
    <!-- Section Title -->
    <div class="section-title item_bottom text-center">
      <h3><%= t :outstanding %></h3>
    </div>
    <!-- End Section Title -->
  </div>
  <div class="row">
    <!-- ./some text about yourself -->
      <p>
      <%= @proyect.outstaning %>
      </p>
  </div>
</div>
</section>

<section id="clients" class="clients parallax" style="background-image: url(assets/clients.png)">
<div class="parallax-overlay">
  <div class="container">
    <div class="row">
      <!-- Section title -->
      <div class="section-title item_bottom text-center">
        <div>
          <span class="fa fa-users fa-2x"></span>
        </div>
        <h3 class="white"><%= t :tools %></h3>
      </div>
      <!-- End Section title -->
    </div>


    <div class="row new-line item_fade_in">
      <h4 class="white"><%= @proyect.tools %></h4>
      <div class="carrousel-container">
        <div id="left_scroll"><a href=""></a></div>
        <div id="carousel_inner">
          <ul class="clearfix" id="carousel_ul">
            <li><span><%= image_tag "clients/twitter.png",alt: "Twitter" %></span></li>
            <li><span><%= image_tag "clients/magento.png",alt: "magento" %></span></li>
            <li><span><%= image_tag "clients/mailchimp.png", alt: "mailchimp" %></span></li>
            <li><span><%= image_tag "clients/nexternal.png", alt: "nexternal" %></span></li>
            <li><span><%= image_tag "clients/wordpress.png", alt: "wordpress" %></span></li>
            <li><span><%= image_tag "clients/google.png", alt: "google" %></span></li>
          </ul>
        </div>
        <div id="right_scroll"><a href=""></a></div>
        <input type="hidden" id="hidden_auto_slide_seconds" value=0 />
      </div>
    </div>
  </div>
</div>
</section>

<%= link_to 'Edit', edit_proyect_path(@proyect) %> |
<%= link_to 'Back', proyects_path %>
