<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @proyect.name %>
</p>

<p>
  <strong>Span:</strong>
  <%= "#{l @proyect.start_time, format: :long} - #{@proyect.end_time}" %>
  <%= distance_of_time_in_words(@proyect.start_time,@proyect.end_time) %>
</p>

<p>
  <strong>Position:</strong>
  <%= @proyect.position %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @proyect.activities %>
</p>

<p>
  <strong>Outstaning:</strong>
  <%= @proyect.outstaning %>
</p>

<p>
  <strong>Tools:</strong>
  <%= @proyect.tools %>
</p>

<p>
  <strong>Description:</strong>
  <%= @proyect.description %>
</p>

<p>
<strong>Cover:</strong>
<%= image_tag @proyect.cover_url(:thumb) if @proyect.cover? %>
</p>

<%= link_to 'Edit', edit_proyect_path(@proyect) %> |
<%= link_to 'Back', proyects_path %>
