<%= render "navbar" %>
<section id="proyect" class="slide-content" style="padding-top:100px; color: wheat; position: static; text-align: left;" >
<div class="single-portfolio">
  <div class="container">
    <div class="row">
      <div class="col-md-8" id="primary">
        <div class="slider_container">
          <ul class="slides">
            <li>
            <a class="w_hover" href="<%= @proyect.link %>">
              <%= image_tag(@proyect.cover_url(:slide) , class: "img-responsive", alt: "@proyect.name") if @proyect.cover?%>
              <span class="overlay"></span>
            </a>
            </li>
            <li>
            <a class="w_hover" href="<%= @proyect.link %> ">
              <%= image_tag @proyect.logo_url(:slide), class: "img-responsive", alt: @proyect.name  %>
              <span class="overlay"></span>
            </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-md-4" id="secondary">
        <!-- Project Summary -->
        <div class="project-desc">
          <h3><%= @proyect.name%></h3>
          <div class="line-strong"></div>
          <ul class="list-details">
            <li><i class="fa fa-calendar"></i><strong><%= t :created_at %>:&nbsp; </strong>
            <%= "#{l @proyect.start_time, format: :long} / #{distance_of_time_in_words(@proyect.start_time,@proyect.end_time)}" %>
            </li>
            <li><i class="fa fa-tag"></i><strong><%= t :position %>:&nbsp;</strong><%= @proyect.position %></li>
          <li><i class="fa fa-globe"></i><%= link_to t('live_demo'), @proyect.link %></li>
        </ul>
        <p>
        <%= @proyect.description %>
        </p>
      </div>   
      <!-- End Project Summary -->
    </div>
  </div>
  <!-- End .row -->
</div>
<!-- End .container -->
</div>

</section>

<section id="activities"   style="padding-top:10px; color: wheat;" class="section-content bg3" >
<div class="container">
  <div class="row">
    <!-- Section Title -->
    <div class="section-title item_bottom text-center">
      <h3><%= t :task %></h3>
    </div>
    <!-- End Section Title -->
  </div>
  <div class="row">
    <!-- ./some text about yourself -->
    <div class="col-md-4">
      <!-- some information list -->
      <ul class="fa-ul">
       <%= raw @proyect.activities %>
      </ul>
      <!-- ./some information list -->
    </div>
    <div class="col-md-8">
      <p>
      <%= @proyect.activity_description %>
      </p>
    </div>
  </div>
</div>
</section>

<section id="outstanding"   style="padding-top:10px; color: black;" class="section-content bg2" >
<div class="container">
  <div class="row">
    <!-- Section Title -->
    <div class="section-title item_bottom text-center">
      <h3><%= t :outstanding %></h3>
    </div>
    <!-- End Section Title -->
  </div>
  <div class="row">
    <!-- ./some text about yourself -->
      <p>
      <%= @proyect.outstaning %>
      </p>
  </div>
</div>
</section>
<section id="tools" class="clients parallax" style="background-image: url(assets/clients.png);background-color: rgba(0, 0, 0, 0.6);">
<div class="parallax-overlay">
  <div class="container">
    <div class="row">
      <!-- Section title -->
      <div class="section-title item_bottom text-center">
        <div>
          <span class="fa fa-users fa-2x"></span>
        </div>
        <h3 class="white"><%= t :tools %></h3>
      </div>
      <!-- End Section title -->
    </div>
    <%= raw @proyect.tools %>

  </div>
</div>
</section>

<%= link_to 'Edit', edit_experience_proyect_path(@experience,@proyect), class: "btn btn-primary btn-lg active",  role: "button" %> |
<%= link_to 'Back', experience_proyects_path(@experience), class: "btn btn-defaul btn-lg active",  role: "button"  %>


<% content_for :seo_tags do %>
  <meta property="og:title" content="<%= "C.V. | Gilberto Tovar/#{@proyect.name}" %>" />
  <meta property="og:url" content="<%= request.original_url %>" />
  <meta property="og:description" content="<%= @proyect.description %>" />
  <meta property="og:image" content="<%= image_tag(@proyect.cover_url(:slide) , class: "img-responsive", alt: "@proyect.name") if @proyect.cover?%>" />
<% end %>
