<!DOCTYPE html>
<html>
    <head>
        <%= javascript_include_tag "google_analytics", "data-turbolinks-track" => true, "async" => true %>
        <title>
            <%= content_for?(:title) ? yield(:title) : "C.V. | Gilberto Tovar" %>
        </title>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no"/>
        <meta name="author" content="Gilberto Tovar">
        <meta property="og:type" content="profile" />
        <meta property="profile:first_name" content="Gilberto" />
        <meta property="profile:last_name" content="Tovar" />
        <%= yield :seo_tags %> 
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="mask">
            <div id="intro-loader">
            </div>
        </div>
        <%= yield %>
        <%= render "shared/footer" %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true  %>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
        <script>
              WebFont.load({
                      google: {
                                families: ['Source Sans Pro', 'Oswald']
                                        }
                                });
        </script>
        <%= yield :javascript_code %>
    </body>
</html>
