<html>
  <head>
    <%= stylesheet_link_tag "bootstrap3","dashboard" %>
    <%= javascript_include_tag :application %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="target-densitydpi=device-dpi, initial-scale=1.0, user-scalable=no"/>
  </head>
  <body>
    <%= render 'shared/navbar_admin' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class=<%= cp(experiences_path) %> >
            <%= link_to experiences_path do %>
              <span class="badge pull-right"><%= @experiences.count %></span>
              Empleos
            <% end %>
            </li>
            <li > 
            <%= link_to experiences_path do %>
              <span class="badge pull-right"><%= @proyects.count %></span>
              Proyectos
            <% end %>
            </li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
        </div>

      </div>
    </div>
    <%= javascript_include_tag "bootstrap3", "docs" %>
  </body>
</html>
